uforme/uforme/Web References/RestfulWebServiceReference/RestfulWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://190.144.156.100:8090/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://190.144.156.100:8090/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://190.144.156.100:8090/">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="height" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bodyType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languagePreference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPreferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPreferencesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genderPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="distancePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relationshipPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="childrenPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ethnicityPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="religionPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="educationPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bodytypePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="heightPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smokingPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cityPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ageLowerRangePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ageUpperRangePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isPrimaryPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preferenceAlias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPreferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserPreferencesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preferenceAlias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserPreferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserPreferencesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preferenceAlias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserPreferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUserPreferencesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FirstOnly" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgbytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idImage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchMaker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genderPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bodytypePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="heightPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cityPreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statePreference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipPreference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchMakerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MatchMakerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPreferencesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPreferences" />
  </wsdl:message>
  <wsdl:message name="GetUserPreferencesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPreferencesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserPreferences" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPreferencesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserPreferencesSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserPreferences" />
  </wsdl:message>
  <wsdl:message name="CreateUserPreferencesSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserPreferencesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserPreferences" />
  </wsdl:message>
  <wsdl:message name="DeleteUserPreferencesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="SaveImageSoapIn">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="SaveImageSoapOut">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="MatchMakerSoapIn">
    <wsdl:part name="parameters" element="tns:MatchMaker" />
  </wsdl:message>
  <wsdl:message name="MatchMakerSoapOut">
    <wsdl:part name="parameters" element="tns:MatchMakerResponse" />
  </wsdl:message>
  <wsdl:portType name="RestfulWebServiceSoap">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input message="tns:UpdateProfileSoapIn" />
      <wsdl:output message="tns:UpdateProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPreferences">
      <wsdl:input message="tns:GetUserPreferencesSoapIn" />
      <wsdl:output message="tns:GetUserPreferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPreferences">
      <wsdl:input message="tns:UpdateUserPreferencesSoapIn" />
      <wsdl:output message="tns:UpdateUserPreferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserPreferences">
      <wsdl:input message="tns:CreateUserPreferencesSoapIn" />
      <wsdl:output message="tns:CreateUserPreferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserPreferences">
      <wsdl:input message="tns:DeleteUserPreferencesSoapIn" />
      <wsdl:output message="tns:DeleteUserPreferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input message="tns:GetImageSoapIn" />
      <wsdl:output message="tns:GetImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <wsdl:input message="tns:SaveImageSoapIn" />
      <wsdl:output message="tns:SaveImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MatchMaker">
      <wsdl:input message="tns:MatchMakerSoapIn" />
      <wsdl:output message="tns:MatchMakerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestfulWebServiceSoap" type="tns:RestfulWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://190.144.156.100:8090/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://190.144.156.100:8090/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://190.144.156.100:8090/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://190.144.156.100:8090/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPreferences">
      <soap:operation soapAction="http://190.144.156.100:8090/GetUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPreferences">
      <soap:operation soapAction="http://190.144.156.100:8090/UpdateUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserPreferences">
      <soap:operation soapAction="http://190.144.156.100:8090/CreateUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserPreferences">
      <soap:operation soapAction="http://190.144.156.100:8090/DeleteUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://190.144.156.100:8090/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://190.144.156.100:8090/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap:operation soapAction="http://190.144.156.100:8090/SaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://190.144.156.100:8090/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchMaker">
      <soap:operation soapAction="http://190.144.156.100:8090/MatchMaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RestfulWebServiceSoap12" type="tns:RestfulWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://190.144.156.100:8090/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://190.144.156.100:8090/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://190.144.156.100:8090/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap12:operation soapAction="http://190.144.156.100:8090/UpdateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPreferences">
      <soap12:operation soapAction="http://190.144.156.100:8090/GetUserPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPreferences">
      <soap12:operation soapAction="http://190.144.156.100:8090/UpdateUserPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserPreferences">
      <soap12:operation soapAction="http://190.144.156.100:8090/CreateUserPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserPreferences">
      <soap12:operation soapAction="http://190.144.156.100:8090/DeleteUserPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://190.144.156.100:8090/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://190.144.156.100:8090/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap12:operation soapAction="http://190.144.156.100:8090/SaveImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://190.144.156.100:8090/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchMaker">
      <soap12:operation soapAction="http://190.144.156.100:8090/MatchMaker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestfulWebService">
    <wsdl:port name="RestfulWebServiceSoap" binding="tns:RestfulWebServiceSoap">
      <soap:address location="http://190.144.156.100:8090/RestfulWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RestfulWebServiceSoap12" binding="tns:RestfulWebServiceSoap12">
      <soap12:address location="http://190.144.156.100:8090/RestfulWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>